{% layout "layout.liquid" %}
{% block content %}

  <div class="container-sm">
    <form action="/lists" method="POST">
      <fieldset>
        <legend>Create New {{session.groupName}} Set List</legend>
        <label class="form-label">Title:</label>
        <input class="form-control mb-4" type="text" name="name" placeholder="list title" required>
        <label class="form-label">Description:</label>
        <textarea class="form-control mb-4" rows="5" cols="50" name="description" placeholder="This is our set for that event that's coming up."></textarea>
        <input class="btn btn-success" type="submit" value="Create List">
    </form>
  </div>

{% endblock %}