{% layout "layout.liquid" %}
{% block content %}

  <div class="container-sm" style="max-width: 700px; width: 70vw">
    <form action="/lists" method="POST">
      <fieldset>
        <legend>Create New Set List for {{session.groupName}}</legend>
        <label class="form-label mt-4">Title:</label>
        <input class="form-control-plaintext mb-5" type="text" name="name" placeholder="list title" required>
        <label class="form-label">Description:</label>
        <textarea class="form-control-plaintext mb-5" rows="5" cols="50" name="description" placeholder="This is our set for that event that's coming up."></textarea>
        <input class="btn btn-warning" type="submit" value="Create List">
    </form>
  </div>

{% endblock %}