{% layout "layout.liquid" %}
{% block content %}

<h1>Oops!  Something went wrong:</h1>
<hr>
<h4 class="error">{{error}}</h4>
<hr>
<a class="btn btn-warning" href="/">Back to Homepage</a>

{% endblock %}