body {
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

nav {
    border-bottom: 1.5px solid rgb(75,75,75);
    font-size: 1.1em;
    background-color: rgb(74, 18, 18);
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.2em;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#user-image {
    cursor: pointer;
}

#user-menu {
    flex-direction: column;
    position: absolute;
    z-index: 1;
    border: 1px solid rgb(75,75,75);
    background-color: black;
}

main {
    margin: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

fieldset {
    text-align: left;
}

.form-control {
    margin-bottom: 20px;
}

.card {
    margin: 10px;
    width: 300px;
    text-align: center;
    background-color: rgb(50,50,50);
}

.group-card-img {
    max-width: 250px;
}

#index {
    height: 650px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#intro {
    max-width: 400px;
    justify-content: center;
}

#intro h1 {
    margin: 0;
}

#intro, #index-login {
    flex: 1;
    display: flex;
    flex-direction: column;    
    align-items: center;    
    margin: 30px;
}

#index-login {
    min-width: 375px;
    max-width: 400px;
    height: 500px;
    padding: 30px 0 30px 0;
    background-color: rgb(50,50,50);
    justify-content: space-between;
    border-radius: 10%;
}

@media (max-width: 600px) {
    #intro {
        display: none;
    }
}

.btn-danger {
    background: linear-gradient( #e06b65,  #cb413b); 
    border: none;
}

.btn-warning {
    background: linear-gradient( #f2ac83,  #d5804e); 
    border: none;
}

.btn-warning:hover {
    background-color: #da8d5f;   
}

.form-control-plaintext {
    background-color: rgb(50,50,50);
    border: 5px solid rgb(50,50,50);
    border-radius: 10px;
    color: white;
}

.form-control-plaintext:hover {
    background-color: rgb(75,75,75);
    border: 5px solid rgb(75,75,75);   
}

