body {
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    border-bottom: 1.5px solid rgb(75,75,75);
    font-size: 1.1em;
    background-color: rgb(20,20,20);
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.2em;
    font-family: "Rock Salt", cursive;
}

.working-group {
    position: absolute;
    right: 80px;
}

#user-image {
    cursor: pointer;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

#user-menu {
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: -59px;
    z-index: 1;
    background-color: rgb(20,20,20);
    border-radius: 5%;
    padding: 5px;
    height: 300px;

}

.user-menu-link {
    text-decoration: none;
    font-size: 1.1em;
    color: white;
}

.user-menu-link:hover {
    color: rgb(254,88,80);
}

.user-menu-icon {
    height: 30px;
    margin-right: 7px;
}

#sidebar-section {
    width: 150px;
}

#sidebar{
    position: fixed;
    top: 59px;
    width: 200px;
    height: calc(100vh - 50px);    
    background-color: black;
}

#sidebar div {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.sidebar-link {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
}

.sidebar-link:hover {
    color: rgb(255,175,9);
}

.sidebar-icon {
    width: 50px;
    margin: 0 10px 0 10px;
}

#main-section {
    margin-top: 100px;     
    width: calc(97vw - 200px);
    min-height: calc(100vh - 100px);
    position: relative;
    left: 200px;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 800px) {
    #sidebar {
        width: 60px;
        background-color: rgb(20,20,20);
        border-right: 1.5px solid rgb(75,75,75);
    }
    .sidebar-icon {
        width: 40px;
    }
    .sidebar-link span {
        display: none;
    }
    #main-section {
        left: 60px;
        width: calc(97vw - 60px);
    }
}

#main-content {
    padding-bottom: 4rem;
}

#footer {
    height: 2rem;
    width: 100%;
    color: rgb(50,50,50);
    position: absolute;
    bottom: 0;
}

#footer a {
    color: rgb(50,50,50);
}

h1 {
    margin-bottom: 40px;
}

fieldset {
    text-align: left;
}

.form-control {
    margin-bottom: 20px;
}

.card {
    margin: 10px;
    width: 300px;
    text-align: center;
    background-color: rgb(50,50,50);
}

.card-header {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

.group-card-img {
    max-width: 250px;
}


.btn {
    box-shadow: 1px 1px 4px black;
    border: none;
}

.btn:hover {
    opacity: .8;
}

.btn-danger {
    background: linear-gradient(rgb(254,88,80), rgb(209,22,19));
}

.btn-warning {
    background: linear-gradient( rgb(255,175,9),  rgb(247,131,0));
}

.form-control-plaintext {
    background-color: rgb(50,50,50);
    box-shadow: inset 1px 2px 4px rgb(40,40,40);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.form-control-plaintext:hover {
    background-color: rgb(75,75,75);
    /* border: 5px solid rgb(75,75,75);    */
}

