{% layout "layout.liquid" %}
{% block content %}

  <div class="container-sm" style="max-width: 700px; width: 70vw">
    <form action="/groups" method="POST">
      <fieldset>
        <legend>Create New Group</legend>
        <label class="form-label mt-3">Group Name:</label>
        <input class="form-control-plaintext mb-4" type="text" name="name" placeholder="group name" required>
        <label class="form-label">Image Link (optional):</label>
        <input class="form-control-plaintext mb-4" type="url" name="img" placeholder="https://i.imgur.com/myGroup.jpg">
        <label class="form-label">Group Members (email addresses, comma-separated):</label>
        <input class="form-control-plaintext mb-5" type="email" name="members" placeholder="john@gmail.com, paul@yahoo.com, george@aol.com, ringo@hotmail.com" multiple required>
      </fieldset>
      <input class="btn btn-warning" type="submit" value="Create Group">
    </form>
  </div>

{% endblock %}