{% layout "layout.liquid" %}
{% block content %}

  <div class="container-sm" style="max-width: 700px; width: 70vw">
    <form action="/songs" method="POST">
      <fieldset>
        <legend>Create New Song by {{session.groupName}}</legend>
        <label class="form-label mt-3">Title:</label>
        <input class="form-control-plaintext mb-4" type="text" name="name" placeholder="Song Title" required>
        <label class="form-label">Key:</label>
        <input class="form-control-plaintext mb-4 me-4" style="width: 100px; display: inline-block" list="keyList" name="key" placeholder="E" required>
          <datalist id="keyList">
              <option value="A"></option>
              <option value="B"></option>
              <option value="C"></option>
              <option value="D"></option>
              <option value="E"></option>
              <option value="F"></option>
              <option value="G"></option>
          </datalist>
        <label class="form-label">Sharp?</label>
        <input class="form-check-input mb-4" type="checkbox" name="sharp">
        <label class="form-label ms-4">Flat?</label>
        <input class="form-check-input mb-4" type="checkbox" name="flat">
        <label class="form-label ms-4">Minor?</label>
        <input class="form-check-input mb-4" type="checkbox" name="minor">
        <br>
        <label class="form-label">Description:</label>
        <input class="form-control-plaintext mb-4" type="text" name="description" placeholder="What makes this song unique?">
        <label class="form-label">Song Length</label>
        <br>
        <label class="form-label">Minutes:</label>
        <input class="form-control-plaintext mb-4 me-4" style="width: 100px; display: inline-block" type="number" placeholder="2" name="minutes" min="0" max="60" required>
        <label class="form-label">Seconds:</label>
        <input class="form-control-plaintext mb-4" style="width: 100px; display: inline-block" type="number" placeholder="30" name="seconds" min="0" max="59" required>
        <br>
        <label class="form-label">Soloist / Lead Vocalist (optional):</label>
        <input class="form-control-plaintext mb-5" type="text" name="soloist" placeholder="Soloist Name">
        {%- comment -%} <label class="form-label">Keywords (comma separated):</label>
        <input class="form-control-plaintext mb-4" type="text" name="keywords" placeholder="uptune,love-song,bass-feature"> {%- endcomment -%}
        <input class="btn btn-warning" type="submit" value="Create Song">
      </fieldset>      
    </form>
  </div>

{% endblock %}