{% layout "layout.liquid" %}
{% block content %}

  <div class="container-sm">
    <form action="/user/signup" method="POST">
      <fieldset>
        <legend>Sign Up New User</legend>
        <label class="form-label">Username:</label>
        <input class="form-control" type="text" name="username" placeholder="username" required>
        <label class="form-label">Email Address:</label>
        <input class="form-control" type="email" name="emailAddress" placeholder="user@example.com" required>
        <label class="form-label">Profile Photo Link:</label>
        <input class="form-control" type="url" name="img" placeholder="https://i.imgur.com/mySelf.jpg" required>
        <label class="form-label">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="password" required>
      </fieldset>
      <input class="btn btn-success" type="submit" value="Create Account">
    </form>
  </div>

{% endblock %}